<nav class="uk-navbar">
  <ul class="uk-navbar-nav uk-hidden-small">
    <li class="<%= check_if_active 'users',yield(:c_active) %>"><a href="/users">抽奖列表</a></li>
    <li class="<%= check_if_active 'user_lists',yield(:c_active) %>"><a href="/user_lists">员工列表</a></li>
    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
      <a href="">系统设置 <i class="uk-icon-caret-down"></i></a>
      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;">
        <ul class="uk-nav uk-nav-navbar">
          <li><a href="#">Item</a></li>
          <li><a href="#">Another item</a></li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Another item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#">Separated item</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<ul class="uk-breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Blog</a></li>
  <li><span>Category</span></li>
  <li class="uk-active"><span>Post</span></li>
</ul>

<div class="uk-grid" data-uk-grid-margin="">
  <div class="uk-width-medium-1-1 uk-row-first">
    <div class="uk-panel uk-panel-box uk-text-center">
      <div id="upload-drop" class="uk-placeholder uk-text-center">
        <i class="uk-icon-cloud-upload uk-icon-medium uk-text-muted uk-margin-small-right"></i> 将文件拖拽至此 或 <a class="uk-form-file">选择一个文件<input id="upload-select" type="file"></a>.
      </div>
    </div>
  </div>
</div>
