<nav class="uk-navbar">
  <a class="uk-navbar-brand" href="#">ABCAM</a>
  <ul class="uk-navbar-nav uk-hidden-small">
    <li class="<%= check_if_active 'users',yield(:c_active) %>"><a href="/users">抽奖列表</a></li>
    <li class="<%= check_if_active 'user_lists',yield(:c_active) %>"><a href="/user_lists">员工列表</a></li>
    <li class="uk-parent <%= check_if_active 'home',yield(:c_active) %>" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
      <a href="">系统设置 <i class="uk-icon-caret-down"></i></a>
      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;">
        <ul class="uk-nav uk-nav-navbar">
          <li><a href="/home/qrcode">二维码</a></li>
          <li><a href="#">Another item</a></li>
          <li class="uk-nav-header">Header</li>
          <li><a href="#">Item</a></li>
          <li><a href="#">Another item</a></li>
          <li class="uk-nav-divider"></li>
          <li><a href="#">Separated item</a></li>
        </ul>
      </div>
    </li>
    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
      <a href="">快速链接 <i class="uk-icon-caret-down"></i></a>
      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" style="top: 40px; left: 0px;">
        <ul class="uk-nav uk-nav-navbar">
          <li><a target="_blank" href="/welcome">Home</a></li>
          <li><a target="_blank" href="/register">注册</a></li>
          <li><a target="_blank" href="/signin">激活</a></li>
          <li class="uk-nav-header">抽奖</li>
          <li><a target="_blank" href="/lottery/index">新抽奖</a></li>
          <li><a target="_blank" href="/lottery/index_old">抽奖模板</a></li>
          <li><a target="_blank" href="/lottery/universe">宇宙</a></li>
          <li><a target="_blank" href="/lottery/milky_way">银河</a></li>
          <li><a target="_blank" href="/lottery/signin">签到墙</a></li>
          <li class="uk-nav-divider"></li>
          <li><a target="_blank" href="/draw">时来运转</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
