<div class="register-box">
  <h2 class="title">活动详情</h2>


  <h3 class="tm-article-subtitle">介绍</h3>
  <ul class="uk-thumbnav">
    <li class="uk-active" style="width: fit-content;"><img src="/imgs/love.jpeg" alt="" width="100%"></li>
  </ul>
  <p>
      &nbsp;&nbsp;&nbsp;&nbsp;2020的阴霾已逐渐散去,让我们2021怀揣期望,大胆遇见属于自己的mate.兜兜转转许久,想必也累了吧,新的一年,去邂逅属于你的爱恋.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;我想找到那个迷路许久的你,漂泊的心或许就不那么艰难了.街边也好,晚风也罢,都很甜.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;本次活动我们将以携手完成手工制作,考验你们的默契,究竟谁是你最心仪的Ta.<br>
      &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: bold;">因为需要人数配对,一经报名,默认活动当天一定参加.</span>
  </p>

  <br />

  <a href="/"><<<返回</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<style type="text/css" media="screen">
  .tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
  }
</style>
