<div class="register-box">
  <h2 class="title">一日游行程</h2>


  <h3 class="tm-article-subtitle">09:00-10:00</h3>
  <p>公司集合，集体乘大巴前往【杭帮菜博物馆】（车程约1小时）</p>

  <h3 class="tm-article-subtitle">10:00-11:00</h3>
  <p>自由活动1小时，可参观【杭帮菜博物馆】了解美食发展史，或者逛【江洋畈生态公园】感受生态湿地</p>
  <ul class="uk-thumbnav">
    <li class="uk-active"><a href=""><img src="/imgs/1.png" alt=""></a></li>
  </ul>

  <h3 class="tm-article-subtitle">11:00-11:50</h3>
  <p>“钱塘厨房”用餐，品味正宗杭帮菜美食</p>


  <h3 class="tm-article-subtitle">12:00-12:30</h3>
  <p>集合后出发，前往【宋城景区】</p>

  <h3 class="tm-article-subtitle">12:30-14:00</h3>
  <p>拍集体照，进入宋城景区自由观赏，品味古典文化</p>
  <ul class="uk-thumbnav">
    <li class="uk-active"><a href=""><img src="/imgs/2.jpg" alt=""></a></li>
    <li class="uk-active"><a href=""><img src="/imgs/3.jpg" alt=""></a></li>
  </ul>

  <h3 class="tm-article-subtitle">14:00-15:00</h3>
  <p>欣赏大型实景演出《宋城千古情》</p>
  <ul class="uk-thumbnav">
    <li class="uk-active"><a href=""><img src="/imgs/4.png" alt=""></a></li>
  </ul>

  <h3 class="tm-article-subtitle">15:50-16:50</h3>
  <p>游玩结束，集合乘车返回</p>

  <br />

  <a href="/"><<<返回</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/register">报名入口</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<style type="text/css" media="screen">
  .tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
  }
</style>
