<!DOCTYPE html>
<html>
<head>
	<title>时来运转</title>
	<meta charset="utf-8">
</head>
<body>
	<div style="text-align:center;font-size:100px">时来运转</div>
	<div style="color:#ccc;font-size:40px;line-height:40px;text-align:center">(请按任意键启动)</div>	
	<div style="width:1000px;margin:80px auto 0 auto">
		<div id="load" style="text-align:center;display:none"><img src="/draw/loading.gif" /></div>
		<div id="title" style="font-size:60px;font-weight:bold;display:none"></div>
		<div id="content" style="margin-top:10px;border:1px solid #ccc;background:#f3f3f3;padding:10px;font-size:17px;display:none"></div>
	</div>
	<script src="/draw/js/draw.js" type="text/javascript"></script>
</body>
</html>
