<div class="register-box">
  <h1 class="title">2018年会官方网站</h1>
  <h2 class="title">激活我的帐号</h1>
    <%= form_for :signin, url: signin_index_path, method: :post, html: { class: "uk-form uk-form-stacked" } do |f| %>
      <div class="uk-form-row">
        <label class="uk-form-label" for="">手机号码</label>
        <div class="uk-form-controls">
          <input type="number" id="phone" name="post[phone]" class="uk-width-1-1" placeholder="请输入你的手机号码">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label" for="">
          <button class="uk-button" id="btn_submit" type="submit">提交，激活</button>
        </label>
      </div>
    <% end %>
</div>
