h1,h2,h3{font-size: 14px;}

/* 布局 */
.site-inline{font-size: 0;}

/* 头部 */
.header{height: 59px; border-bottom: 1px solid #404553;  background-color: #393D49;}
.logo{position: absolute; left: 0; top: 0px;}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; }
.header .layui-nav .layui-nav-item[mobile]{display: none;}
