<% flash.each do |name, msg| %>
  <div class="uk-alert uk-alert-<%= name %>" data-uk-alert="">
    <a href="" class="uk-alert-close uk-close"></a>
    <p><%= msg %></p>
  </div>
<% end %>
<div class="register-box">
  <h1 class="title">请填写以下信息</h1>
  <%= form_for :register, url: register_index_path, method: :post, html: { class: "uk-form uk-form-stacked" } do |f| %>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">姓名</label>
      <div class="uk-form-controls">
        <input type="text" id="username" value="" name="post[username]" class="uk-width-1-1" placeholder="请输入你的真实姓名">
      </div>
    </div>

    <!--<div class="uk-form-row">
      <label class="uk-form-label" for="">性别</label>
      <div class="uk-form-controls">
         <span class="id-pre uk-width-1-1">
           <select id="pre" name="post[is_attendance]">
             <option value="女">女</option>
             <option value="男">男</option>
          </select>
         </span>
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">已婚/未婚(男性可忽略)</label>
      <div class="uk-form-controls">
         <span class="id-pre uk-width-1-1">
           <select id="pre" name="post[is_lunch]">
             <option value=""></option>
             <option value="未婚">未婚</option>
             <option value="已婚">已婚</option>
          </select>
         </span>
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">手机号码</label>
      <div class="uk-form-controls">
        <input type="number" id="phone" value="" name="post[phone]" class="uk-width-1-1" placeholder="请输入你的手机号码">
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">身份证号</label>
      <div class="uk-form-controls">
        <input type="text" id="id_number" value="" name="post[id_number]" class="uk-width-1-1" placeholder="身份证号，请认真填写">
      </div>
    </div>-->

    <div class="uk-form-row">
      <label class="uk-form-label" for="">车型/颜色</label>
      <div class="uk-form-controls">
        <input type="text" id="phone" value="" name="post[phone]" class="uk-width-1-1" placeholder="车型/颜色">
      </div>
    </div>

    <div class="uk-form-row">
      <label class="uk-form-label" for="">车牌号</label>
      <div class="uk-form-controls">
        <input type="text" id="id_number" value="" name="post[id_number]" class="uk-width-1-1" placeholder="车牌号">
      </div>
    </div>


    <div class="uk-form-row">
      <label class="uk-form-label" for="">缴费周期</label>
      <div class="uk-form-controls">
         <span class="id-pre uk-width-1-1">
           <select id="pre" name="post[is_car]">
             <option value="2023.10.01-2023.03.31">2023.10.01-2023.03.31</option>
             <option value="2023.10.01-2023.09.30">2023.10.01-2023.09.30</option>
          </select>
         </span>
      </div>
    </div>

    <!--<div class="uk-form-row">
      <label class="uk-form-label" for="">备注</label>
      <div class="uk-form-controls">
        <textarea id="notes" cols="30" rows="5" placeholder="特殊需求请备注" class="uk-width-1-1" name="post[notes]"></textarea>
      </div>
    </div>-->


    <!--<h3 class="tm-article-subtitle">家属<small>(点击加号添加家属)</small></h3>
    <div class="uk-form-row families-div">-->
<!--       <div class="uk-form-controls">
         <span class="id-pre uk-width-1-4">
           <select class="families_type" name="post[families][][type]">
             <option value="儿童">儿童</option>
             <option value="成人">成人</option>
          </select>
         </span>
         <input type="text" value="" name="post[families][][name]" class="uk-width-3-4" placeholder="请输入家属姓名">
         <input type="text" value="" name="post[families][][height]" class="uk-width-1-1" style="margin-top:5px;" placeholder="如果是儿童请输入身高(cm)">
         <input type="text" value="" name="post[families][][id_number]" class="uk-width-1-1" style="margin-top:5px;" placeholder="身份证号，请认真填写">
         <label for="">是否用午餐：</label>
           <select id="pre" name="post[families][][is_lunch]">
             <option value="用餐">用餐</option>
             <option value="不用餐">不用餐</option>
          </select>
         <br />
         <label for="">是否乘车：</label>
           <select id="pre" name="post[families][][is_car]">
             <option value="乘坐大巴">乘坐大巴</option>
             <option value="自驾">自驾</option>
          </select>
</div>-->
    <!--</div>

     <div class="uk-form-row">
      <button class="uk-button" id="btn_add" type="button">+</button>
      <button class="uk-button" id="btn_remove" type="button">-</button>
      </label>
     </div>-->

    <div class="uk-form-row">
      <label class="uk-form-label" for="">
      <button class="uk-button uk-button-primary" id="btn_submit" type="submit">提交，注册参加活动</button>
      </label>
    </div>
  <% end %>
  <h3 class="tm-article-subtitle" style="color:red;">注意事项</h3>
  <ul class="uk-list uk-list-disc">
    <li>观影地点: 时代联合影院Gmax厅(西田城一期二层)</li>
    <li>封神: 8月11日(周五) 14:30 - 17:00</li>
    <li>孤注一掷: 8月18日(周五) 14:30 - 16:50</li>
    <li>晚餐: 星伦多海鲜自助(西田城二期四层) 17:00 - 18:30</li>
    <li>若因故不能参加活动，也请填写姓名，选择不能参加</li>
    <li>报名后不支持在线修改, 有问题请联系小组长</li>
  </ul>
</div>
<!-- 之前_scripts中内容在这 -->

<script>
$(function(){
  var fn_btn_submit = function() {
    var username = $('#username').val();
    var phone    = $('#phone').val();
    var id_number    = $('#id_number').val();
    var inputs   = $(':input[name*="families"]');
    var submit_tag = true;
    inputs.each(function(){
      if ($(this).val() == '') {
        UIkit.notify('提交失败，家属信息填写不完整', {status:'warning'});
        submit_tag = false;
        return false;
      }
    });
    if (username == '') {
        UIkit.notify('姓名为空', {status:'warning'});
        return false;
    }
    if (phone == '') {
        UIkit.notify('电话为空', {status:'warning'});
        return false;
    }
    if (id_number == '') {
        UIkit.notify('身份证为空', {status:'warning'});
        return false;
    }
    return submit_tag;
  }

  var fn_btn_add = function() {
    var insert_html = '<div class="uk-form-row families_person">' +
       '<div class="uk-form-controls">' +
         '<span class="id-pre uk-width-1-4">' +
           '<select class="families_type" name="post[families][][type]">' +
             '<option value="儿童">儿童</option>' +
             '<option value="成人">成人</option>' +
          '</select>' +
         '</span>' +
         '<input type="text" value="" name="post[families][][name]" class="uk-width-3-4" placeholder="请输入家属姓名">' +
         '<input type="text" value="" name="post[families][][height]" class="uk-width-1-1" style="margin-top:5px;" placeholder="如果是儿童请输入身高(cm)">' +
         '<input type="text" value="" name="post[families][][id_number]" class="uk-width-1-1" style="margin-top:5px;" placeholder="身份证号，请认真填写">'+
       '</div>' +
    '</div>';
    $('.families-div').after(insert_html)
    $('.families_type').change(change_families_type);
  }

  var fn_btn_remove = function() {
    $('.families_person').first().remove();
  }

  $('#btn_submit').click(fn_btn_submit);
  $('#btn_add').click(fn_btn_add);
  $('#btn_remove').click(fn_btn_remove);

  var change_families_type = function() {
    if ($(this).val() == '成人') {
      $(this).parents().next().next().val('N/A');
    } else {
      $(this).parents().next().next().val('');
    }
  }
  $('.families_type').change(change_families_type);
});
</script>
<style type="text/css" media="screen">
  .tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
  }
</style>
